
.logo {
    position: absolute;
    height: 80px;
    width: 50%;
    text-align: center;
    top: 0;
    right: 0;
    z-index: 1;
    color: #fff;
    text-shadow: 0 0 6px rgba(#000, .2);
    font-size: 1.6em;
    font-weight: bold;
    font-family: 'Roboto';
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        height: 46px;
    }
    @include tablet {
        height: 60px;
        font-size: 1.4em;
        img {
            height: 36px;
        }
    }
    @include mobile {
        height: 50px;
        font-size: 1.4em;
        img {
            height: 30px;
        }
    }
}
.nav {
    z-index: 99;
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    //clip-path: circle(61.1% at 0 50%);

    transition: all .5s cubic-bezier(.57,.24,.5,1.04);
    transition-property: transform, left ;
    &.active {
        @include tablet {
            @media (orientation: portrait) {
                transform: translateX(30vh);
            }
            @media (orientation: landscape) {
                transform: translateX(40vh);
            }
            
        }
    }
    &_toggle {
        position: absolute;
        width: 50px;
        height: 50px;
        background-color: #333;
        border-radius: 0 0 10px 0;
        left: 100%;
        top: 0;
        display: none;
        align-items: center;
        justify-content: center;
        @include tablet {
            display: flex;
           
        }
        @include mobile {
            width: 40px;
            height: 40px;
           
        }
        .bar_box {
            width: 20px;
            height: 16px;
            position: relative;
            .bar_item {
                position: absolute;
                right: 0;
                width: 100%;
                height: 2px;
                background-color: #fff;
                transition: all .2s ease-in-out;
                &.bar_top {
                    top: 0;
                }
                &.bar_mid {
                    top: 7px;
                }
                &.bar_bot {
                    top: 14px;
                }
                
            }
            @at-root .nav.active & {
                .bar_item {
                    &.bar_top {
                        top: 7px;
                        transform: rotate(45deg);
                    }
                    &.bar_mid {
                        width: 0;
                    }
                    &.bar_bot {
                        top: 7px;
                        transform: rotate(-45deg);
                    }
                } 
            }
        }
    }

    &_list {
        display: flex;
        height: 100%;
        flex-flow: column;
    }
    &_item {
        flex: 1;
        @for $i from 1 through 8 {
            &#{$i} {
                background-color: map-get($colors, _key#{$i});
                
                .nav_link {
                    background-color: map-get($colors, _key#{$i});
                    &:hover {
                        position: relative;
                        z-index: 10;
                        box-shadow:  0 0 10px rgba(0,0,0, .2);
                        clip-path: inset(-10px -10px  -10px 0);
                        background-color: lighten( map-get($colors, _key#{$i}) , 8%);
                    }
                }
                
                
            }
        } 
    }
    &_link {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: flex-end;
        transition-property: box-shadow, transform;
        transition : width .3s cubic-bezier(.57,.24,.5,1.04), background-color .2s ease-in-out;
        
        .txt {
            font-size: 2vh;
            font-weight: bold;
            color: #fff;
            text-transform: uppercase;
            font-family: "Jalnan";
            letter-spacing: 0.01em;
            margin-top: 0.2em;
            @include tablet {
                font-size: 1.9vh;
            }
            
            
        }
        i {
            width: 8vh;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 3.2vh;
            color: #fff;
            @include tablet {
               width: 7vh;
            }
            
        }
    }
}

html, body, #wrap, #container {
    height: 100%;
}
body {
    @include tablet {
        font-size: 13px;
    }
    @include mobile {
        font-size: 12px;
    }
}
#wrap {
    overflow-x: hidden;
}
.main_wrap {
    position: absolute;
    width: 27%;
    &::before {
        content: '';
        width: 100vw;
        height: 100%;
        left: 0;
        top: 0;
        position: absolute;
        background-image: url(../images/sub/new_bg1.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        opacity: 0.37;
        //filter: grayscale(100%);
    }
    
    @include mobile {
        width: 25%;
    }

    left: 0;
    top: 0;
    z-index: 100;
    
    height: 100%;
    display: flex;
    align-items: center;
    background-color: #fff;
    transition: clip-path .5s .5s cubic-bezier(.57,.24,.5,1.04);
    
    @media (orientation: portrait) {
        clip-path: ellipse(100% 80% at 0% 50%);
    }

    @media (orientation: landscape) {
        clip-path: ellipse(100% 90% at 0% 50%);
    }
    overflow: hidden;
    // &::after {
    //     content: '';
    //     position: absolute;
    //     height: 100vh;
    //     width: 50%;
    //     left: 100%;
    //     margin-left: -25%;
    //     background-color: #fff;
    //     border-radius: 50%;
        
    // }
    .main_logo {
        position: absolute;
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
        z-index: 10;
        text-align: center;
        &_inner {
            padding: 7%;
        }
        .txt_box {
            font-size: 2.6vw;
            margin-top: 0.6em;
            font-weight: 700;
            letter-spacing: 0.13em;
            
            //color: #1B1D81;
            color: #222;
            //font-family: 'NanumSquare';
            //font-family: 'Tmonsori';
            font-family: 'Jalnan';
            text-transform: uppercase;
            span {
                font-family: 'Jalnan';
            }
            br {
                display: none;
            }
            @include mobile {
                font-size: 4vw;
                margin-top: 0.5em;
                br {
                    display: block;
                }
            }
        }
        img {
            width: 70%;
            @include mobile {
                width: 100%;
            }
        }
        svg {
            width: 60%;
            @include mobile {
                width: 80%;
            }
        }
    }
    .main_txt {
        @media (orientation: portrait) {
            font-size: 12vh;
        }

        @media (orientation: landscape) {
            font-size: 10vw;
        }
       
        line-height: 1;
        width: 100%;
        text-align: center;
        font-weight: bold;
        word-break: break-all;
        //font-family: 'Trade Winds';
        transform: translate(-50%, 10%) rotate(-20deg);
        transform-origin: center center;
        div {
            display: flex;
            white-space: nowrap;
            width: 400%;
            line-height: 0.8;
            color: rgba(#000, .05);
            font-family: 'Tmonsori';
            //text-transform: lowercase;
            span {
                width: 100%;
                transform: translateX(0);
                animation: marquee 10s infinite normal linear;
            }
            &:nth-child(odd) {
                span {
                    animation-direction: reverse;
                    color: rgba(#000, .05);
                }
                
            }
        }
    }
    @keyframes marquee {
        to {
            transform: translateX(-100%);
        }
    }
}

.container {
    position: relative;
    width: 200%;
    left: 0;
    top: 0;
    transition: transform .5s ease-in-out;
    &.on {
        transform: translateX(-50%);
        transition: transform .5s .5s ease-in-out;
        .main_wrap {
            transition: clip-path .5s cubic-bezier(.57,.24,.5,1.04);
            clip-path: ellipse(0 50% at 0% 50%);
        }
        .nav {
            left: 8vh;
            transition: left .5s .5s cubic-bezier(.57,.24,.5,1.04), transform .5s cubic-bezier(.57,.24,.5,1.04);
            
            @include tablet{
                left: 0;
            }
            &_link {
                border-radius: 0 10px 10px 0;
            }
            &_item:hover {
                .nav_link {
                    width: calc(100% + 20vh);
                    
                    @include tablet{
                        width: 100%;; 
                        box-shadow: none;
                        clip-path: none;
                    }
                }
                
            }
        }
    }
}

.btn_home {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 30px;
    width: 60px;
    height: 60px;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
    color: #fff;
    background-color: #444;
    border-radius: 0 0 0 10px;
    @include tablet {
        width: 50px;
        height: 50px;
        font-size: 16px;
    }
    @include mobile {
        width: 40px;
        height: 40px;
    }
}

.sub_wrap {
    position: relative;
    left: 50%;
    width: 50%;
    height: 100%;
    background-color: #fff;
    transition: background-color .4s ease-in-out;
    @for $i from 1 through 8 {
        &.sub_#{$i} {
            background-color: map-get($colors, _key#{$i});
            
        }
    } 
}
.sub_sec {
    position: absolute;
    right: 100%;
    top: 0;
    width: 100%;
    
    
    height: 100%;
    overflow-y: auto;
    
    color: #000;
    padding: 120px 50px 80px 100px;
    box-sizing: border-box;
    transition: right .4s ease-in-out;

    @include tablet {
        padding: 80px 30px 40px
    }
    @include mobile {
        padding: 60px 15px 40px
    }
    &.on {
        right: 0;
        
    }
    @for $i from 1 through 8 {
        &.sub#{$i} {
            background-color: map-get($colors, _key#{$i});
            
        }
    } 
    .inner {
        display: flex;
        align-items: center;
        min-height: 100%;
        flex-wrap: wrap;
    }
    &_inner {
        width: 100%;
        padding: 30px 40px 50px;
        border-radius: 2em;
        background-color: #fff;
        box-sizing: border-box;
        box-shadow: 0 0 1.4em rgba(#000, .1);
        @at-root .sub_wrap.ty2 & {
            background-color: transparent;
            padding: 0;
            border-radius: 0;
            box-shadow: none;
            color: #fff;
        } 
        
        
        @include tablet {
            padding: 30px;
        }
        @include mobile {
            padding: 0 15px 25px;
            border-radius: 1em;
        }
    }
    .sec_tit {
        text-align: center;
        h2 {
            font-size: 3.4em;
            font-weight: bold;
            text-transform: uppercase;
            font-family: "Jalnan";
            letter-spacing: 0.13em;
            text-shadow: 0 2px 4px rgba(0,0,0,.08);
            @include mobile { 
                font-size: 2.6em;
            }
        }
        margin-bottom: 2em;
        @include mobile { 
            margin-bottom: 0;
            padding: 15px 0 15px;
            
        }
    }

    .sec_desc {
        margin-bottom: 2.5em;
        @include mobile {
            margin-bottom: 1.6em;
        }
        h3 {
            font-size: 2em;
            font-weight: bold;
            color: $c_key6;
            @at-root .sub_wrap.ty2 & {
                color: #fff;
            }
            @include mobile {
                font-size: 1.6em;
            }
        }
        p {
            font-size: 1.4em;
            font-weight: 500;
            margin-top: 0.8em;
            line-height: 1.7;
            color: $c_solidGrey;
            @at-root .sub_wrap.ty2 & {
                color: #fff;
            }
            @include mobile {
                font-size: 1.1em;
            }
        }
    }

    .sec_list {
        
        display: flex;
        gap: 30px;
        @include tablet {
            gap: 20px;
        }
        @include mobile {
            display: block;
        }
        &_item {
            flex: 1;
            @include mobile {
                & + .sec_list_item {
                    margin-top: 1.8em;
                }
            }
            .item_inner {
                padding: 30px;
                height: 100%;
                box-sizing: border-box;
                border-radius: 1.2em;
                background-color: lighten(map-get($colors, _key6), 57%);
                @at-root .sub_wrap.ty2 & {  
                    background-color: rgba(#000,.2);
                }
                @include tablet {
                    padding: 20px;
                }
            }
            .ico_box {
                width: 1.7em;
                height: 1.7em;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0 auto;
                background-color: #fff;
                text-align: center;
                font-size: 4em;
                border-radius: 0.4em;
                margin-bottom: 0.3em;
                color: $c_key6;
            }
            .img_box {
                margin-bottom: 1.2em;
                border-radius: 0.6em;
                overflow: hidden;
                img {
                    width: 100%;
                }
               
            }
            h3 {
                text-align: center;
                font-size: 1.5em;
                font-weight: bold;
                color: #222;
                @at-root .sub_wrap.ty2 & { 
                    color: #ffcf5e;
                }
                @include mobile {
                    font-size: 1.3em;
                }
            }
            p {
                font-size: 1.2em;
                margin-top: 0.8em;
                text-align: center;
                color: #444;
                @at-root .sub_wrap.ty2 & { 
                    color: #fff;
                }
                @include mobile {
                    font-size: 1.2em;
                }
            }
            ul {
                margin-top: 1.4em;
                color: #444;
                @at-root .sub_wrap.ty2 & { 
                    color: #fff;
                }
                li {
                    display: flex;
                    font-size: 1.1em;
                    & + li {
                        margin-top: 0.2em;
                    }
                    &::before {
                        content: '-';
                        margin-right: 4px;
                    }
                }
            }
        }
        
    }

    &.sub1 {
        .img_box {
            border-radius: 2em;
            overflow: hidden;
            box-shadow: 0 4px 10px rgba(0,0,0,.2);
            @include mobile {
                border-radius: 10px;
            }
        }
        .desc {
            margin-top: 2em;
            font-size: 1.5em;
            line-height: 1.7;
            color: #222;
            padding: 2em;
            border-radius: 1em;
            background-color: lighten(map-get($colors, _key1), 45%);
            
            @at-root .sub_wrap.ty2 & {  
                background-color: transparent;
                padding: 0;
                color: #fff;
                box-shadow: 0 4px 10px rgba(0,0,0,.2);
                padding: 2.5em 1.6em;
                background-color: rgba(#000,.1);
            }
            
            strong {
                font-size: 1.5em;
                b {
                    font-size: 1.5em;
                    line-height: 1;
                }
            }
            .m_only {
                display: none;
            }
            @include mobile { 
                padding: 25px 20px;
                margin-top: 1.4em;
                font-size: 1.2em;
                strong {
                    font-size: 1.4em;
                }
                .pc_only {
                    display: none;
                }
                .m_only {
                    display: block;
                }
            }
        }
    }
    &.sub2 {
        .sub2_list {
            display: flex;
            gap: 30px;
            @at-root .sub_wrap.ty2 & {
                gap: 50px;
            }
            @include tablet {
                gap: 20px;
            }
            @include mobile {
                display: block;
            }
            &_item {
                flex: 1;
                
                @include mobile { 
                    & + .sub2_list_item {
                        margin-top: 1.6em;
                        @at-root .sub_wrap.ty2 & {
                            margin-top: 3em;
                        }
                    }
                }
                .item_inner {
                    
                    border-radius: 1em;
                    height: 100%;
                    box-sizing: border-box;
                    padding: 30px;
                    background-color: lighten(map-get($colors, _key6), 57%);
                    @at-root .sub_wrap.ty2 & {
                        background-color: transparent;
                        padding: 0;
                        display: flex;
                        flex-direction: column;
                        border-radius: 1em;
                        overflow: hidden;
                    }
                   
                    @include tablet { 
                        // display: flex;
                        // flex-direction: column;
                        padding: 20px;
                    }
                }
                .txt_box {
                    padding: 1.6em 1.6em 2em;
                    background-color: rgba(#fff,.1);
                    flex: 1;
                    @at-root .sub_wrap.ty2 & { 
                        text-align: center;
                        padding: 0;
                        margin-top: 1em;
                        background-color: transparent;
                    }
                }
                .tit {
                    margin-top: 1em;
                    font-size: 1.4em;
                    font-weight: 500;
                    @at-root .sub_wrap.ty2 & {
                        color: #fff;
                        margin-top: 0;
                    }
                    @include mobile { 
                        order: -1;
                        width: 100%;
                       
                        margin-top: 1em;
                    }
                }
                .desc {
                    margin-top: 0.8em;
                    font-size: 1.1em;
                    color: #555;
                    @at-root .sub_wrap.ty2 & {
                        color: #fff;
                    }
                    @include mobile { 
                        flex: 1;
                        align-self: center;
                        
                        margin-top: 1em;
                    }
                }
                .img_box {
                    border-radius: 0.6em;
                    overflow: hidden;
                    @at-root .sub_wrap.ty2 & {
                        border-radius: 2em;
                        border: 0.6em solid #fff;
                    }
                    &_inner {
                        padding-top: 100%;
                        position: relative;
                    }
                    
                  
                    
                    
                    img, .chart {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        left: 0;
                        top: 0;
                    }
                    img {
                        object-fit: contain;
                    }
                    .chart_txt {
                        position: absolute;
                        z-index: 10;
                        font-size: 2em;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        @at-root .sub_wrap.ty2 & {
                            color: #222;
                        }
                    }
                }
            }
        }
        

    }

    &.sub3 {
        .sub3_list {
            &_item {
                display: flex;
                align-items: flex-start;
                padding: 2em;
                background-color: rgba(#000, .2);
                border-radius: 1em;

                @include mobile {
                    display: block;
                   
                }
                & + .sub3_list_item {
                    margin-top: 3em;
                    @include mobile {
                        margin-top: 2em;
                    }
                }
                h3 {
                    font-size: 3em;
                    color: lighten($c_key1, 18%);
                    text-shadow:0 0 10px rgba(#fff,.1);
                    font-weight: bold;
                    line-height: 1.3;
                    text-align: right;
                    width: 5em;
                    flex-shrink: 0;
                    @include mobile { 
                        width: 100%;
                        font-size: 2em;
                        text-align: left;
                        br {
                            display: none;
                        }
                    }
                }
                .txt_box {
                    flex: 1;
                    padding-left: 3em;
                    @include mobile {  
                        padding-left: 0;
                        margin-top: 1.4em;
                    }
                    p {
                        font-size: 1.6em;
                        @include mobile { 
                            font-size: 1.4em;
                        }
                    }
                    ul {
                        margin-top: 1.4em;
                        color: #444;

                        
                        @at-root .sub_wrap.ty2 & { 
                            color: #fff;
                        }
                        li {
                            display: flex;
                            font-size: 1.1em;
                            & + li {
                                margin-top: 0.3em;
                            }
                            &::before {
                                content: '-';
                                margin-right: 4px;
                            }
                        }
                    }
                }
            }
        }
    }
    
        
    
    &.sub5 {
        .sub5_list {
            display: flex;
            
            @include mobile {
                display: block;
                
            }
            &_item {
                flex: 1;
                padding: 0 20px;
               

                text-align: center;
                @include mobile {
                    padding: 0;
                    display: flex;
                    & + .sub5_list_item {
                        margin-top: 1em;
                        padding-top: 1em;
                        border-top: 1px dotted #ccc;
                        @at-root .sub_wrap.ty2 & { 
                            border-top-color: #fff;
                        }
                    }
                }
                .img_box {
                    max-width: 240px;
                    margin: 0 auto;
                    border-radius: 0.6em;
                    overflow: hidden;
                    position: relative;
                    border: 6px solid lighten(map-get($colors, _key5), 50%);
                    &::before {
                        content: 'PROGRAM';
                        position: absolute;
                        
                        background-color: lighten(map-get($colors, _key5), 50%);
                        color: #fff;
                        font-size: 0.9em;
                        font-weight: bold;
                        line-height: 1.2;
                        padding-right: 8px;
                        padding-left: 2px;
                        padding-bottom: 6px;
                        left: 0;
                        top: 0;
                        border-radius: 0 0 0.6em 0;
                        @include mobile {
                            padding-right: 4px;
                            padding-left: 0;
                            padding-bottom: 4px;
                        }
                    }
                    @include mobile {
                        width: 120px;
                        margin: 0;
                        flex-shrink: 0;
                        border-width: 4px;
                    }
                    img {
                        width: 100%;
                    }
                }
                .txt_box {
                    margin-top: 1em;
                    @include mobile {
                        margin-top: 0;
                        text-align: left;
                        align-self: center;
                        padding-left: 1.5em;
                    }
                    
                    strong {
                        display: block;
                        font-size: 1.4em;
                        @include mobile {
                            font-size: 1.3em;
                        }
                    }
                    p {
                        font-size: 1.2em;
                        margin-top: 0.4em;
                        color: $c_solidGrey;
                        @at-root .sub_wrap.ty2 & {  
                            color: #fff;
                        }
                        @include mobile {
                            font-size: 1.1em;
                            br {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
        @at-root .sub_wrap.ty2 & { 
            .sec_list {
                &_item {
                    
                    h3 {
                        font-size: 2em;
                        color: lighten($c_key1, 20%);
                        margin-bottom: 0.5em;
                    }
                }
            }
        }
        
    }
    &.sub6 {
        .sec_list {
            
            @include tablet {
                display: flex;
                flex-wrap: wrap;
                @include list_col(3 ,30px, 40px);
            }
            &_item {
                
                @include tablet {
                    flex: none;
                }
                transition: transform .2s ease-in-out;
                &:hover {
                    transform: translateY(-1em);
                }
                .item_inner {
                    padding: 0;
                    background-color: #fff;
                    @at-root .sub_wrap.ty2 & { 
                        background-color: transparent;
                        .img_box {
                            border: none;
                            box-shadow: 0 0 10px rgba(#000, .4);
                        }
                        h3 {
                            color: #fff;
                        }
                    }
                    .img_box {
                        border: 6px solid $c_key6;
                        //border-radius: 0;
                        box-shadow:   0 0 10px rgba($c_key6, .5);
                        cursor: pointer;
                    }
                }
            }
        }
        
        .popup_patent {
            display: none;
            position: fixed;
            right: 0;
            top: 0;
            width: 50%;
            height: 100%;
            z-index: 9999;
            background-color: rgba(0,0,0,.4);
            
            &.on {
                display: block;
            }
            &_inner {
                display: flex;
                height: 100%;
                align-items: center;
                justify-content: center;
                padding: 30px;
                box-sizing: border-box;
                img {
                    max-height: 100%;
                    max-width: 100%;
                }
            }
        }

        @include mobile {
            .sec_list {
                display: flex;
                flex-wrap: wrap;
                @include list_col(2 ,15px, 30px);
                .col_item {
                    flex: none;
                    margin-top: 0;
                }
            }
               
        }
       
    }
    &.sub7 {
        .client_list {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            @include list_col(3 ,20px, 30px);
            @at-root .sub_wrap.ty2 & {
                @include list_col(3 ,20px, 20px);
            }
            @media (max-width: 1200px) {
                @include list_col(2 ,20px, 20px);
                @at-root .sub_wrap.ty2 & {
                    @include list_col(2 ,20px, 20px);
                }
            }
            @include mobile {
                display: block;
                .col_item {
                    width: 100%;
                }
                @at-root .sub_wrap.ty2 & {
                    display: block;
                    .col_item {
                        width: 100%;
                    }
                }
            }
            &_item {
                display: flex;
                @at-root .sub_wrap.ty2 & {
                    background-color: rgba(#000,.1);
                    padding: 1em;
                    border-radius: 0.6em;
                } 
                @include mobile { 
                    & + .client_list_item {
                        border-top: 1px dotted #ccc;
                        margin-top: 1em;
                        padding-top: 1em;
                        @at-root .sub_wrap.ty2 & { 
                            border-top: none;
                        }
                    }
                }
                .logo_box {
                    width: 140px;
                    margin-right: 15px;
                    flex-shrink: 0;
                    padding: 10px;
                    box-sizing: border-box;
                    border: 1px solid #ccc;
                    border-radius: 6px;
                    align-self: flex-start;
                    @at-root .sub_wrap.ty2 & {  
                        background-color: #fff;
                    }

                    @include mobile {
                        width: 100px;
                    }
                    &_inner {
                        padding-top: 60%;
                        position: relative;
                        
                        
                        overflow: hidden;
                        
                        
                        img {
                            position: absolute;
                            left: 0;
                            top: 0;
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                        }
                    }
                }
                .txt_box {
                    align-self: center;
                    li {
                        display: flex;
                        & + li {
                            margin-top: 4px;
                        }
                        &::before {
                            content:'•';
                            flex-shrink: 0;
                            margin-right: 4px;
                        }
                    }
                }
                
            }
        }
    }
    &.sub8 {
        .d_flex {
            display: flex;
            gap: 50px;
            
            @include tablet {
                gap: 30px;
            }
            @include mobile {
                display: block;
            }
            &_sec {
                width: 50%;
                box-sizing: border-box;
                padding: 30px;
                border-radius: 1em;
                background-color: lighten(map-get($colors, _key6), 59%);
                
                @at-root .sub_wrap.ty2 & { 
                    background-color: rgba(#000, .05);
                    //padding: 0;
                    //text-shadow: 0 0 0.5em rgba(#000, .2);
                }
                
                @include tablet {
                    padding: 20px;
                }
                @include mobile {
                    &.right {
                        margin-top: 2.2em;
                    }
                    width: 100%;
                }

            }
        }
        .history {
            
            &_item {
                display: flex;
                line-height: 1.7;
                & + .history_item {
                    margin-top: 0.4em;
                }
                .year {
                    width: 4.1em;
                    flex-shrink: 0;
                    //margin-right: 4px;
                }
            }
        }
        .contact {
            &_wrap {
                .sec_desc h3 {
                    color: #222;
                }
                max-width: 540px;
                margin: 0 auto;
                width: 100%;
                padding: 2em;
                box-sizing: border-box;
                //background-color: darken($c_key8, 5%);
                background-color: #fafafa;
                color: #222;
                border-radius: 1em;
                box-shadow: 0 0 15px rgba(#000, .2);
                // color: #222;
                // .sec_desc h3 {
                //     color: #222;
                // }
                @include mobile {
                    padding: 15px 15px 20px;
                    
                }
            }
           
            &_item {
                & + .contact_item {
                    margin-top: 1em;
                }
                &_tit {
                    display: flex;
                    align-items: center;
                    margin-bottom: 4px;
                    font-weight: 500;
                    .fa-solid {
                        color: $c_key3;
                        font-size: 10px;
                        margin-left: 4px;
                    }
                }
            }
            .f_input {
                font-size: 1em;
                width: 100%;
                height: 3em;
                border-radius: 6px;
                padding: 0 10px;
                // @at-root .sub_wrap.ty2 & {
                //     border-color: #fff;
                //     background-color: transparent;
                //     color: #fff;
                //     &::placeholder {
                //         color: rgba(#fff,.5);
                //     }
                // }
                
                @include tablet {
                    height: 3em;
                }
                @include mobile {
                    padding: 0 0.6em;
                    height: 3em;
                }
            }
            .f_ta {
                width: 100%;
                height: 120px;
                padding: 10px 10px;
                box-sizing: border-box;
                border-radius: 6px;
                font-size: 1em;
                // @at-root .sub_wrap.ty2 & {
                //     border-color: #fff;
                //     background-color: transparent;
                //     color: #fff;
                //     &::placeholder {
                //         color: rgba(#fff,.5);
                //     }
                // }
                @include mobile {
                    padding: 0.6em;
                }
            }
            .f_btn {
                width: 100%;
                height: 2.9em;
                font-size: 1.2em;
                font-weight: 500;
                border-radius: 4px;
                
            }
            .btn_area {
                text-align: center;
                margin-top: 2em;
                @include mobile { 
                    margin-top: 20px;
                }
            }

        }
    }
    
}

.footer {
    margin-top: 4em;
    background-color: #fff;
    width: 100%;
    padding: 30px;
    border-radius: 1em;
    display: flex;
    box-shadow: 0 0 15px rgba(#000, .2);
    &_logo {
        width: 200px;
        flex-shrink: 0;
        margin-right: 50px;
    }
    &_info {
        display: flex;
        flex-wrap: wrap;
        margin-left: -18px;
        margin-top: -4px;
        &_wrap {
            overflow: hidden;
            align-self: center;
        }
        &_item {
            display: flex;
            align-items: center;
            //line-height: 1.8;
            margin-top: 4px;
            &::before {
                content: '';
                width: 1px;
                height: 1em;
                background-color: #bbb;
                margin: 0 9px;
            }
        }
    }
    .copy {
        margin-top: 1em;
        color: #666;
        font-size: 0.9em;
        font-weight: 500;
        @include mobile {
            text-align: center;
            margin-top: 15px;
            padding-top: 15px;
            border-top: 1px dotted #ccc;
        }
    }

    @include mobile {
        padding: 20px;
        display: block;
        @include mobile {
            margin-top: 4em;
        }
        &_logo {
            width: 140px;
            margin: 0 auto;
        }
        &_info_wrap {
            margin-top: 20px;
        }
    }
}


.inner {
    max-width: 1260px;
    margin: 0 auto;
}

