// Breakpoints
$breakpoint-m: 768px;
$breakpoint-t: 1024px;
$breakpoint-pc_h: 1460px;
$breakpoint-pc_bm: 1800px;


//Color
$CBrand: #1f2085;
$CLine: #d9d9d9;




/* colors */
$colors: (
    _key1: #F0AB09,
    _key2: #DF6808,
    _key3: #D6161F,
    _key4: #A10B47,
    _key5: #681F79, 
    _key6: #264D9C,
    _key7: #129562,
    _key8: #6AAD3D,
    _line: #ccc,
    _bg_grey: #efefef,
    _lightGrey: #999,
    _solidGrey: #414141
);


$fz: (
    _normal: 14px, 
    _big: 20px, 
    _mid: 16px, 
    _small: 12px, 
);


@mixin btn($bg, $bd){
    transition: all .1s ease-in-out;
    background-color: $bg;
    border-color: $bd;
    color: #fff;
    &:hover {
        background-color: darken( $bg, 8%);
        border-color: darken($bd, 8%);
        box-shadow: 0 2px 3px rgba(#000, 0.3);
    }
    &:active {
        box-shadow: inset 0 0 4px rgba(#000, 0.3);
        transform: scale(0.97);
    }
}

@mixin btn_ol($bd ,$color){
    transition: all .1s ease-in-out;
    background-color: transparent;
    border-color: $bd;
    color: $color;
    &:hover {
        background-color: $color;
        color: #fff;
    }
    &:active {
        box-shadow: inset 0 0 4px rgba(#000, 0.3);
        transform: scale(0.97);
    }
}


// colors
@each $key, $color in $colors {
    .fc#{$key} {
        color: $color;
    }
    .bg#{$key} {
        background-color: $color;
    }
    .bd#{$key} {
        border-color: $color;
    }
    .f_btn {
        &.#{$key} {
            @include btn($color, $color)
        }
        &.#{$key}_ol {
            @include btn_ol($color ,$color)
        }
    }
    
}

@each $key, $size in $fz {
    .fz#{$key} {
        font-size: $size;
    }
    
}




$c_key1 : map-get($colors, _key1);
$c_key2 : map-get($colors, _key2);
$c_key3 : map-get($colors, _key3);
$c_key4 : map-get($colors, _key4);
$c_key5 : map-get($colors, _key5);
$c_key6 : map-get($colors, _key6);
$c_key7 : map-get($colors, _key7);
$c_key8 : map-get($colors, _key8);

$c_line : map-get($colors, _line);
$c_bg_grey : map-get($colors, _bg_grey);
$c_lightGrey : map-get($colors, _lightGrey);
$c_solidGrey : map-get($colors, _solidGrey);

//Font
$font: 'Noto Sans KR', sans-serif;
$font_tit: 'Montserrat';

//innerBox
$inner: 1280px;




@for $i from 1 through 100 {
    $w : 10*$i;
    .w_#{$w} {
        width: #{$w}px
    }
}


@for $i from 1 through 100 {
    $w : 10*$i;
    
    .w_#{$w} {
        width: #{$w}px
    }
}

@for $i from 1 through 20 {
    $z : 5*$i;
    .mt#{$z} {
        margin-top: #{$z}px;
    }
    .ml#{$z} {
        margin-left: #{$z}px
    }
    .mr#{$z} {
        margin-right: #{$z}px
    }
    .mb#{$z} {
        margin-bottom: #{$z}px
    }

    .pt#{$z} {
        padding-top: #{$z}px;
    }
    .pl#{$z} {
        padding-left: #{$z}px
    }
    .pr#{$z} {
        padding-right: #{$z}px
    }
    .pb#{$z} {
        padding-bottom: #{$z}px
    }
}
@mixin list_col($col ,$gapX, $gapY){
    .col_#{$col} {
        gap: $gapY $gapX;
        .col_item {
            width: calc((100% / $col) - ((($col - 1)/$col)*$gapX));
        }
    }
}
@for $i from 1 through 10 {
    @include list_col($i ,20px, 40px);
} 

.taC {
    text-align: center;
}
.taR {
    text-align: right;
}
.taL {
    text-align: left;
}